draw_detail()
  box-shadow:
    -1px   0px   0px   0px $edge_reflection   inset,
    -4px   0px   2px  -2px $middle_tone       inset,
     1px   0px   0px   0px $edge_reflection   inset,
     4px   0px   2px  -2px $middle_tone       inset,
     0px   1px   0px   0px $middle_tone       inset,
     0px   2px   0px   0px $top_highlight     inset,
     0px  -1px   0px   0px $bottom_shadow     inset,
     0px -10px   5px  -8px $bottom_reflection inset,
     0px   0px  30px   5px $indirect_light    inset,
     0px   0px  30px   5px $indirect_shadow   inset,
     0px   0px  40px  15px $inner_reflection  inset,
     0px   5px   5px  -5px $top_saturator     inset,
     0px   5px   5px   0px $top_inner_light   inset,
     0px  -5px   0px   0px $bottom_tone       inset,
     0px  $shadow_length 5px   0px $drop_shadow;

draw_detail_chain()
  box-shadow:
     0px   1px   0px   0px $middle_tone       inset,
     0px   2px   0px   0px $top_highlight     inset,
     0px  -1px   0px   0px $bottom_shadow     inset,
     0px -10px   5px  -8px $bottom_reflection inset,
     0px   0px  30px   5px $indirect_light    inset,
     0px   0px  30px   5px $indirect_shadow   inset,
     0px   0px  40px  15px $inner_reflection  inset,
     0px   5px   5px  -5px $top_saturator     inset,
     0px   5px   5px   0px $top_inner_light   inset,
     0px  -5px   0px   0px $bottom_tone       inset,
     0px  $shadow_length 5px   0px $drop_shadow;

draw_detail_chain_l()
  box-shadow:
    -1px   0px   0px   0px $edge_reflection   inset,
    -4px   0px   2px  -2px $middle_tone       inset,
     0px   1px   0px   0px $middle_tone       inset,
     0px   2px   0px   0px $top_highlight     inset,
     0px  -1px   0px   0px $bottom_shadow     inset,
     0px -10px   5px  -8px $bottom_reflection inset,
     0px   0px  30px   5px $indirect_light    inset,
     0px   0px  30px   5px $indirect_shadow   inset,
     0px   0px  40px  15px $inner_reflection  inset,
     0px   5px   5px  -5px $top_saturator     inset,
     0px   5px   5px   0px $top_inner_light   inset,
     0px  -5px   0px   0px $bottom_tone       inset,
     0px  $shadow_length 5px   0px $drop_shadow;

draw_detail_chain_r()
  box-shadow:
     1px   0px   0px   0px $edge_reflection   inset,
     4px   0px   2px  -2px $middle_tone       inset,
     0px   1px   0px   0px $middle_tone       inset,
     0px   2px   0px   0px $top_highlight     inset,
     0px  -1px   0px   0px $bottom_shadow     inset,
     0px -10px   5px  -8px $bottom_reflection inset,
     0px   0px  30px   5px $indirect_light    inset,
     0px   0px  30px   5px $indirect_shadow   inset,
     0px   0px  40px  15px $inner_reflection  inset,
     0px   5px   5px  -5px $top_saturator     inset,
     0px   5px   5px   0px $top_inner_light   inset,
     0px  -5px   0px   0px $bottom_tone       inset,
     0px  $shadow_length 5px   0px $drop_shadow;

draw_pushed()
  box-shadow:
     0px   3px   0px   0px $indirect_light   inset,
     0px   4px   0px   0px $bottom_shadow    inset,
    -2px   0px   2px   0px $indirect_shadow  inset,
    -4px   0px   4px  -2px $base_color       inset,
     2px   0px   2px   0px $indirect_shadow  inset,
     4px   0px   4px  -2px $base_color       inset,
     0px   1px   0px   0px $middle_tone      inset,
     0px  -1px  15px   0px $middle_tone      inset,
     0px   0px  30px   5px $indirect_light   inset,
     0px   0px  30px   5px $indirect_shadow  inset,
     0px   0px  40px  15px $inner_reflection inset,
     0px   5px   5px  -5px $top_saturator    inset,
     0px   5px   5px   0px $bottom_tone      inset,
     0px  -5px  20px  -5px $bottom_shadow    inset,
     0px   1px   2px   0px $edge_reflection;
