@import './vars.styl'

__reflect_blend(o, a, $material, $state)
  vars = __vars($material, $state)
  transparentify(blend(rgba(vars.top_highlight, o), $state.theme_color), a)

__reflection($material, $state)
  'linear-gradient(' + top + ',' + __reflect_blend($material.top.blend, $material.top.alpha, $material, $state) + ' 0%,' + __reflect_blend($material.bottom.blend, $material.bottom.alpha, $material, $state) + ' 50%, transparent 50%)'
