$theme_prefix ?= ''
@import 'nib'

@import $material
@import $usual
@import './var.styl'

@import './text.styl'
@import './detail.styl'
@import './vignette.styl'
@import './reflection.styl'
@import './texture.styl'

bg_color()
  background $bg_color

circle()
  border-radius 50%

skeu_basic()
  z-index 0
  display block
  position relative
  if $duration isnt 0ms
    transition $duration background, $duration color, $duration top, $duration text-shadow

skeu_common()
  color $txt_color
  draw_text()
  background convert(vignette() + ',' + reflection() + ',' + draw_texture($texture, $texture_param) + ',' + $base_color)
  background-size auto, auto, unquote($image_size)

${$theme_prefix}_skeu
  skeu_basic()
  skeu_common()
  draw_detail()

${$theme_prefix}_skeu_chain
  skeu_basic()
  skeu_common()
  draw_detail_chain()

${$theme_prefix}_skeu_chain_l
  skeu_basic()
  skeu_common()
  draw_detail_chain_l()

${$theme_prefix}_skeu_chain_r
  skeu_basic()
  skeu_common()
  draw_detail_chain_r()

// hover theme
@import $hover
@import './var.styl'

${$theme_prefix}_skeu_hover
  skeu_common()
  draw_detail()

${$theme_prefix}_skeu_chain_hover
  skeu_common()
  draw_detail_chain()

${$theme_prefix}_skeu_chain_l_hover
  skeu_common()
  draw_detail_chain_l()

${$theme_prefix}_skeu_chain_r_hover
  skeu_common()
  draw_detail_chain_r()

// active theme
@import $active
@import './var.styl'

${$theme_prefix}_skeu_active
  top $active_depth
  skeu_common()
  draw_pushed()
