flare(n)
  m = 100 / n
  str = ''
  for i in (0..n)
    if even(i)
      c = rgba($peak, $texture_opacity)
    else
      c = rgba($gutter, $texture_opacity)
    if i isnt n
      str += '' + c + ' ' + m * i + '%, '
    else
      str += c
  'linear-gradient(left,' + str + ')'

stripe_abs(n, angle)
  _$peak = rgba($peak, $texture_opacity)
  _$gutter = rgba($gutter, $texture_opacity)
  'repeating-linear-gradient(' + angle + ', ' + _$peak + ', ' + _$peak + ' ' + n + 'px,' + _$gutter + ' ' + n + 'px,' + _$gutter + ' ' + n * 2 + 'px)'

stripe(n, pos)
  m = 100 / n
  str = ''
  for i in (0..n)
    if even(i)
      c = rgba($peak, $texture_opacity)
    else
      c = rgba($gutter, $texture_opacity)
    if i isnt n
      str += '' + c + ' ' + m * i + '%, ' + c + ' ' + m * (i + 1) + '%, '
    else
      str += c
  'linear-gradient(' + pos + ', ' + str + ')'

v_stripe(n)
  stripe(n, 'left')

v_stripe_abs(n)
  stripe_abs(n, '90deg')

h_stripe(n)
  stripe(n, 'top')

h_stripe_abs(n)
  stripe_abs(n, '180deg')

tl_stripe(n)
  stripe(n, 'left top')

tl_stripe_abs(n)
  stripe_abs(n, '135deg')

tr_stripe(n)
  stripe(n, 'right top')

tr_stripe_abs(n)
  stripe_abs(n, '225deg')

draw_texture(type, param)
  if type is 'flare'
    return flare(param)
  if type is 'v_stripe'
    return v_stripe(param)
  if type is 'v_stripe_abs'
    return v_stripe_abs(param)
  if type is 'h_stripe'
    return h_stripe(param)
  if type is 'h_stripe_abs'
    return h_stripe_abs(param)
  if type is 'tl_stripe'
    return tl_stripe(param)
  if type is 'tl_stripe_abs'
    return tl_stripe_abs(param)
  if type is 'tr_stripe'
    return tr_stripe(param)
  if type is 'tr_stripe_abs'
    return tr_stripe_abs(param)
  if type is 'image'
    return 'url("' + param + '")'
