@import './vars.styl'

__flare($params, $vars)
  n = $params.times
  m = 100 / n
  str = ''
  for i in (0..n)
    if even(i)
      c = rgba($vars.peak, $params.opacity)
    else
      c = rgba($vars.gutter, $params.opacity)
    if i isnt n
      str += '' + c + ' ' + m * i + '%, '
    else
      str += c
  'linear-gradient(left,' + str + ')'

__stripe_abs($params, $vars)
  n = $params.times
  _$peak = rgba($vars.peak, $params.opacity)
  _$gutter = rgba($vars.gutter, $params.opacity)
  'repeating-linear-gradient(' + $params.angle + ', ' + _$peak + ', ' + _$peak + ' ' + n + 'px,' + _$gutter + ' ' + n + 'px,' + _$gutter + ' ' + n * 2 + 'px)'

__stripe($params, $vars)
  n = $params.times
  m = 100 / n
  str = ''
  for i in (0..n)
    if even(i)
      c = rgba($vars.peak, $params.opacity)
    else
      c = rgba($vars.gutter, $params.opacity)
    if i isnt n
      str += '' + c + ' ' + m * i + '%, ' + c + ' ' + m * (i + 1) + '%, '
    else
      str += c
  'linear-gradient(' + params.pos + ', ' + str + ')'

__v_stripe($params, $vars)
  $params.pos = 'left'
  __stripe($params, $vars)

__v_stripe_abs($params, $vars)
  $params.angle = '90deg'
  __stripe_abs($params, $vars)

__h_stripe($params, $vars)
  $params.pos = 'top'
  __stripe($params, $vars)

__h_stripe_abs($params, $vars)
  $params.angle = '180deg'
  __stripe_abs($params, $vars)

__tl_stripe($params, $vars)
  $params.pos = 'left top'
  __stripe($params, $vars)

__tl_stripe_abs($params, $vars)
  $params.angle = '135deg'
  __stripe_abs($params, $vars)

__tr_stripe($params, $vars)
  $params.pos = 'right top'
  __stripe($params, $vars)

__tr_stripe_abs($params, $vars)
  $params.angle = '225deg'
  __stripe_abs($params, $vars)

__draw_texture($material, $state)
  vars = __vars($material, $state)
  if $material.texture.type is 'flare'
    return __flare($material.texture, vars)
  if $material.texture.type is 'v_stripe'
    return __v_stripe($material.texture, vars)
  if $material.texture.type is 'v_stripe_abs'
    return __v_stripe_abs($material.texture, vars)
  if $material.texture.type is 'h_stripe'
    return __h_stripe($material.texture, vars)
  if $material.texture.type is 'h_stripe_abs'
    return __h_stripe_abs($material.texture, vars)
  if $material.texture.type is 'tl_stripe'
    return __tl_stripe($material.texture, vars)
  if $material.texture.type is 'tl_stripe_abs'
    return __tl_stripe_abs($material.texture, vars)
  if $material.texture.type is 'tr_stripe'
    return __tr_stripe($material.texture, vars)
  if $material.texture.type is 'tr_stripe_abs'
    return __tr_stripe_abs($material.texture, vars)
  if $material.texture.type is 'image'
    return 'url("' + $material.texture.src + '")'
  return 'linear-gradient(top, transparent 0%, transparent)'
