$duration ?= 100ms
$texture = 'flare'
$texture_param = 5
$texture_opacity = .2

// outer background color
$bg_color = desaturate(lighten(spin(#c7211e, 5deg), 3), 2)

// $vignette_noise: 0..1
$vignette_noise = 0

// $diffusion: 0..1
$diffusion = .5

// top_reflection
$top_blend = 1
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5

