$duration ?= 100ms
$texture = 'flare'
$texture_param = 5
$texture_opacity = .2

// body background color
$bg_color = white

// $vignette_effect: 0..1
$vignette_effect = .1

// $diffusion: 0..1
$diffusion = .1

// top_reflection
$top_blend = .25
$top_alpha = .8
$bottom_blend = .15
$bottom_alpha = .5
