gen-blue-theme()
  options = { hash: true }
  return {
    suffix: 'blue',
    material: json('../../stylus/theme/blue/material.json', options),
    normal: json('../../stylus/theme/blue/normal.json', options),
    hover: json('../../stylus/theme/blue/hover.json', options),
    active: json('../../stylus/theme/blue/active.json', options)
  }
