gen-gray-theme()
  options = { hash: true }
  return {
    suffix: 'gray',
    material: json('../../stylus/theme/gray/material.json', options),
    normal: json('../../stylus/theme/gray/normal.json', options),
    hover: json('../../stylus/theme/gray/hover.json', options),
    active: json('../../stylus/theme/gray/active.json', options)
  }
