gen-pink-theme()
  options = { hash: true }
  return {
    suffix: 'pink',
    material: json('../../stylus/theme/pink/material.json', options),
    normal: json('../../stylus/theme/pink/normal.json', options),
    hover: json('../../stylus/theme/pink/hover.json', options),
    active: json('../../stylus/theme/pink/active.json', options)
  }
