$theme_prefix = 'pink'
$material     = '../../stylus/theme/pink/material.styl'
$normal       = '../../stylus/theme/pink/normal.styl'
$hover        = '../../stylus/theme/pink/hover.styl'
$active       = '../../stylus/theme/pink/active.styl'
