gen-purple-theme()
  options = { hash: true }
  return {
    suffix: 'purple',
    material: json('../../stylus/theme/purple/material.json', options),
    normal: json('../../stylus/theme/purple/normal.json', options),
    hover: json('../../stylus/theme/purple/hover.json', options),
    active: json('../../stylus/theme/purple/active.json', options)
  }
