$theme_prefix = 'red'
$material     = '../../stylus/theme/red/material.styl'
$normal       = '../../stylus/theme/red/normal.styl'
$hover        = '../../stylus/theme/red/hover.styl'
$active       = '../../stylus/theme/red/active.styl'
