gen-yellow-theme()
  options = { hash: true }
  return {
    suffix: 'yellow',
    material: json('../../stylus/theme/yellow/material.json', options),
    normal: json('../../stylus/theme/yellow/normal.json', options),
    hover: json('../../stylus/theme/yellow/hover.json', options),
    active: json('../../stylus/theme/yellow/active.json', options)
  }
