$skeu_prefix = 'gray'
@import '../import_theme/gray.styl'
@import '../../stylus/skeu.styl'

no_deco()
  & > a
    color inherit
    box-shadow none
    transition inherit

sizer()
  bg_color()
  position relative
  display block
  box-sizing border-box
  width 100%
  overflow-x scroll
  min-height 100vh

wrapper()
  bg_color()
  position relative
  display block
  box-sizing border-box
  width 100.5%
  height auto
  padding 2em 20px
  text-align center

fig-01()
  font-size 40px
  line-height 60px
  font-family 'League Script', cursive
  font-weight normal
  letter-spacing 0
  text-align center
  padding 13px 0 7px 0
  box-sizing border-box
  display inline-block
  position relative
  size 220px auto
  margin 5px 0

fig-02()
  circle()
  position relative
  display inline-block
  text-align center
  size 200px 200px
  box-sizing border-box
  padding 0
  margin 20px
  .txt
    display inline-block
    absolute top 0 left 0 bottom 0 right 0
    margin auto
    padding 0
    font-family 'Luckiest Guy'
    font-size 80px
    line-height 140px
    size 100% 120px
    font-weight normal
    text-transform uppercase
    letter-spacing 0


fig-03()
  font-size 20px
  line-height 1.4em
  font-family sans-serif
  padding 1em
  text-align left
  box-sizing border-box
  display block
  size auto auto
  margin auto

.gray-sizer
  sizer()
  .gray-wrapper
    wrapper()
    & .fig-01
      @extend $gray_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $gray_skeu_hover
      &.demo:active
      &.active
        @extend $gray_skeu_active
    & .fig-02
      @extend $gray_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $gray_skeu_hover
      &.demo:active
        @extend $gray_skeu_active
    & .fig-03
      @extend $gray_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $gray_skeu_hover
      &.demo:active
        @extend $gray_skeu_active

$skeu_prefix = 'pink'
@import '../import_theme/pink.styl'
@import '../../stylus/skeu.styl'

.pink-sizer
  sizer()
  .pink-wrapper
    wrapper()
    & .fig-01
      @extend $pink_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $pink_skeu_hover
      &.demo:active
      &.active
        @extend $pink_skeu_active
    & .fig-02
      @extend $pink_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $pink_skeu_hover
      &.demo:active
        @extend $pink_skeu_active
    & .fig-03
      @extend $pink_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $pink_skeu_hover
      &.demo:active
        @extend $pink_skeu_active


$skeu_prefix = 'purple'
$image_size = '300px 300px'
$texture_param = 'http://all-user.org/images/memowomome/css-skeu/pattern.png'
@import '../import_theme/purple.styl'
@import '../../stylus/skeu.styl'

.purple-sizer
  sizer()
  .purple-wrapper
    wrapper()
    & .fig-01
      @extend $purple_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $purple_skeu_hover
      &.demo:active
      &.active
        @extend $purple_skeu_active
    & .fig-02
      @extend $purple_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $purple_skeu_hover
      &.demo:active
        @extend $purple_skeu_active
    & .fig-03
      @extend $purple_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $purple_skeu_hover
      &.demo:active
        @extend $purple_skeu_active


$image_size = 'auto'
$skeu_prefix = 'yellow'
$texture_param = 'http://all-user.org/images/memowomome/css-skeu/canvas.png'
@import '../import_theme/yellow.styl'
@import '../../stylus/skeu.styl'

.yellow-sizer
  sizer()
  .yellow-wrapper
    wrapper()
    & .fig-01
      @extend $yellow_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $yellow_skeu_hover
      &.demo:active
      &.active
        @extend $yellow_skeu_active
    & .fig-02
      @extend $yellow_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $yellow_skeu_hover
      &.demo:active
        @extend $yellow_skeu_active
    & .fig-03
      @extend $yellow_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $yellow_skeu_hover
      &.demo:active
        @extend $yellow_skeu_active


$skeu_prefix = 'green'
@import '../import_theme/green.styl'
@import '../../stylus/skeu.styl'

.green-sizer
  sizer()
  .green-wrapper
    wrapper()
    & .fig-01
      @extend $green_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $green_skeu_hover
      &.demo:active
      &.active
        @extend $green_skeu_active
    & .fig-02
      @extend $green_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $green_skeu_hover
      &.demo:active
        @extend $green_skeu_active
    & .fig-03
      @extend $green_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $green_skeu_hover
      &.demo:active
        @extend $green_skeu_active


$skeu_prefix = 'blue'
@import '../import_theme/blue.styl'
@import '../../stylus/skeu.styl'

.blue-sizer
  sizer()
  .blue-wrapper
    wrapper()
    & .fig-01
      @extend $blue_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $blue_skeu_hover
      &.demo:active
      &.active
        @extend $blue_skeu_active
    & .fig-02
      @extend $blue_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $blue_skeu_hover
      &.demo:active
        @extend $blue_skeu_active
    & .fig-03
      @extend $blue_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $blue_skeu_hover
      &.demo:active
        @extend $blue_skeu_active


$skeu_prefix = 'red'
@import '../import_theme/red.styl'
@import '../../stylus/skeu.styl'

.red-sizer
  sizer()
  .red-wrapper
    wrapper()
    & .fig-01
      @extend $red_skeu
      no_deco()
      fig-01()
      &.demo:hover
      &.hover
        @extend $red_skeu_hover
      &.demo:active
      &.active
        @extend $red_skeu_active
    & .fig-02
      @extend $red_skeu
      no_deco()
      fig-02()
      &.demo:hover
        @extend $red_skeu_hover
      &.demo:active
        @extend $red_skeu_active
    & .fig-03
      @extend $red_skeu
      no_deco()
      fig-03()
      &.demo:hover
        @extend $red_skeu_hover
      &.demo:active
        @extend $red_skeu_active


