$material = '../../stylus/theme/blue/blue_material.styl'
$usual = '../../stylus/theme/blue/blue.styl'
$hover = '../../stylus/theme/blue/blue_hover.styl'
$active = '../../stylus/theme/blue/blue_active.styl'
