$duration ?= 100ms
$texture = 'image'
$texture_param ?= '../../images/canvas.png'
$image_size ?= 'auto'

// body background color
$bg_color = #dd8

// $vignette_effect: 0..1
$vignette_effect = .1

// $diffusion: 0..1
$diffusion = .0

// top_reflection
$top_blend = .3
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5
