$theme_prefix = 'blue'
$material     = '../../stylus/theme/blue/material.styl'
$normal       = '../../stylus/theme/blue/normal.styl'
$hover        = '../../stylus/theme/blue/hover.styl'
$active       = '../../stylus/theme/blue/active.styl'
