$theme_prefix = 'blue'
$material = '../../stylus/theme/blue/blue_material.styl'
$normal = '../../stylus/theme/blue/blue.styl'
$hover = '../../stylus/theme/blue/blue_hover.styl'
$active = '../../stylus/theme/blue/blue_active.styl'
