$theme_prefix = 'gray'
$material     = '../../stylus/theme/gray/material.styl'
$normal       = '../../stylus/theme/gray/normal.styl'
$hover        = '../../stylus/theme/gray/hover.styl'
$active       = '../../stylus/theme/gray/active.styl'
