$skeu_prefix = 'gray'
$material = '../../stylus/theme/gray/gray_material.styl'
$usual = '../../stylus/theme/gray/gray.styl'
$hover = '../../stylus/theme/gray/gray_hover.styl'
$active = '../../stylus/theme/gray/gray_active.styl'
