$theme_prefix = 'green'
$material = '../../stylus/theme/green/green_material.styl'
$usual = '../../stylus/theme/green/green.styl'
$hover = '../../stylus/theme/green/green_hover.styl'
$active = '../../stylus/theme/green/green_active.styl'
