$theme_prefix = 'green'
$material     = '../../stylus/theme/green/material.styl'
$normal       = '../../stylus/theme/green/narmal.styl'
$hover        = '../../stylus/theme/green/hover.styl'
$active       = '../../stylus/theme/green/active.styl'
