$theme_prefix = 'pink'
$material = '../../stylus/theme/pink/pink_material.styl'
$normal = '../../stylus/theme/pink/pink.styl'
$hover = '../../stylus/theme/pink/pink_hover.styl'
$active = '../../stylus/theme/pink/pink_active.styl'
