$theme_prefix = 'purple'
$material = '../../stylus/theme/purple/purple_material.styl'
$normal = '../../stylus/theme/purple/purple.styl'
$hover = '../../stylus/theme/purple/purple_hover.styl'
$active = '../../stylus/theme/purple/purple_active.styl'
