$theme_prefix = 'purple'
$material     = '../../stylus/theme/purple/material.styl'
$normal       = '../../stylus/theme/purple/normal.styl'
$hover        = '../../stylus/theme/purple/hover.styl'
$active       = '../../stylus/theme/purple/active.styl'
