$theme_prefix = 'yellow'
$material = '../../stylus/theme/yellow/yellow_material.styl'
$normal = '../../stylus/theme/yellow/yellow.styl'
$hover = '../../stylus/theme/yellow/yellow_hover.styl'
$active = '../../stylus/theme/yellow/yellow_active.styl'
