$theme_prefix = 'yellow'
$material     = '../../stylus/theme/yellow/material.styl'
$normal       = '../../stylus/theme/yellow/normal.styl'
$hover        = '../../stylus/theme/yellow/hover.styl'
$active       = '../../stylus/theme/yellow/active.styl'
