$material = '../../stylus/theme/purple/purple_material.styl'
$usual = '../../stylus/theme/purple/purple.styl'
$hover = '../../stylus/theme/purple/purple_hover.styl'
$active = '../../stylus/theme/purple/purple_active.styl'
