@import '../../stylus/skeu.styl'

$gray-params = json('../../stylus/themes/gray/theme.json', { hash: true })
$gray-params.material.shadow_length = 0px
$gray-params.material.active_depth = 1px
stylus-skeuomorphic($gray-params)

$pink-params = json('../../stylus/themes/pink/theme.json', { hash: true })
$pink-params.material.shadow_length = 0px
$pink-params.material.active_depth = 1px
stylus-skeuomorphic($pink-params)

$purple-params = json('../../stylus/themes/purple/theme.json', { hash: true })
$purple-params.material.texture.size = '300px 300px'
$purple-params.material.texture.src = '../../images/pattern.png'
$purple-params.material.shadow_length = 0px
$purple-params.material.active_depth = 1px
stylus-skeuomorphic($purple-params)

$yellow-params = json('../../stylus/themes/yellow/theme.json', { hash: true })
$yellow-params.material.texture.src = '../../images/pattern.png'
$yellow-params.material.shadow_length = 0px
$yellow-params.material.active_depth = 1px
stylus-skeuomorphic($yellow-params)

$green-params = json('../../stylus/themes/green/theme.json', { hash: true })
$green-params.material.shadow_length = 0px
$green-params.material.active_depth = 1px
stylus-skeuomorphic($green-params)

$blue-params = json('../../stylus/themes/blue/theme.json', { hash: true })
$blue-params.material.shadow_length = 0px
$blue-params.material.active_depth = 1px
stylus-skeuomorphic($blue-params)

$red-params = json('../../stylus/themes/red/theme.json', { hash: true })
$red-params.material.shadow_length = 0px
$red-params.material.active_depth = 1px
stylus-skeuomorphic($red-params)

*
  box-sizing border-box

body
  background white
  text-align center

$h = 36px

gray-all = skeu-gray.chain-right-all
.gray
  { gray-all }
  border-right 1px solid #555

pink-all = skeu-pink.chain-all
.pink
  { pink-all }
  border-right 1px solid #555

purple-all = skeu-purple.chain-all
.purple
  { purple-all }
  border-right 1px solid #555

yellow-all = skeu-yellow.chain-all
.yellow
  { yellow-all }
  border-right 1px solid #555

green-all = skeu-green.chain-all
.green
  { green-all }
  border-right 1px solid #555

blue-all = skeu-blue.chain-all
.blue
  { blue-all }
  border-right 1px solid #555

red-all = skeu-red.chain-left-all
.red
  { red-all }

.skeu
  display inline-block
  size auto $h
  font-size 16px
  line-height 16px
  font-weight 400
  padding 10px 10px
  margin 10px 0
  font-family "Helvetica Neue", sans-serif
