$shadow_length = 0px
$active_depth  = 1px

$skeu_prefix = 'gray'
@import '../path_to_theme/gray.styl'
@import '../../stylus/skeu.styl'

body
  background white
  text-align center

.gray
  @extend $gray_skeu_chain_r
  border-right 1px solid #555
  &:hover
    @extend $gray_skeu_chain_r_hover
  &:active
    @extend $gray_skeu_active

$skeu_prefix = 'pink'
@import '../path_to_theme/pink.styl'
@import '../../stylus/skeu.styl'

.pink
  @extend $pink_skeu_chain
  border-right 1px solid #555
  &:hover
    @extend $pink_skeu_chain_hover
  &:active
    @extend $pink_skeu_active

$skeu_prefix = 'purple'
$image_size = '300px 300px'
$texture_param = '../../images/pattern.png'
@import '../path_to_theme/purple.styl'
@import '../../stylus/skeu.styl'

.purple
  @extend $purple_skeu_chain
  border-right 1px solid #555
  &:hover
    @extend $purple_skeu_chain_hover
  &:active
    @extend $purple_skeu_active

$skeu_prefix = 'yellow'
$texture_param = '../../images/canvas.png'
@import '../path_to_theme/yellow.styl'
@import '../../stylus/skeu.styl'

.yellow
  @extend $yellow_skeu_chain
  border-right 1px solid #555
  &:hover
    @extend $yellow_skeu_chain_hover
  &:active
    @extend $yellow_skeu_active

$skeu_prefix = 'green'
@import '../path_to_theme/green.styl'
@import '../../stylus/skeu.styl'

.green
  @extend $green_skeu_chain
  border-right 1px solid #555
  &:hover
    @extend $green_skeu_chain_hover
  &:active
    @extend $green_skeu_active

$skeu_prefix = 'blue'
@import '../path_to_theme/blue.styl'
@import '../../stylus/skeu.styl'

.blue
  @extend $blue_skeu_chain
  border-right 1px solid #555
  &:hover
    @extend $blue_skeu_chain_hover
  &:active
    @extend $blue_skeu_active

$skeu_prefix = 'red'
@import '../path_to_theme/red.styl'
@import '../../stylus/skeu.styl'

.red
  @extend $red_skeu_chain_l
  &:hover
    @extend $red_skeu_chain_l_hover
  &:active
    @extend $red_skeu_active

.skeu
  display inline-block
  size auto auto
  font-size 30px
  line-height 35px
  font-weight 100
  padding 15px 45px
  margin 10px 0
  font-family "Helvetica Neue", sans-serif
