$shadow_length = 0px
$active_depth  = 1px

@import '../_import_theme/gray.styl'
@import '../../stylus/skeu.styl'

@import '../_import_theme/pink.styl'
@import '../../stylus/skeu.styl'

$image_size = '300px 300px'
$texture_param = '../../images/pattern.png'
@import '../_import_theme/purple.styl'
@import '../../stylus/skeu.styl'

$texture_param = '../../images/canvas.png'
@import '../_import_theme/yellow.styl'
@import '../../stylus/skeu.styl'

@import '../_import_theme/green.styl'
@import '../../stylus/skeu.styl'

@import '../_import_theme/blue.styl'
@import '../../stylus/skeu.styl'

@import '../_import_theme/red.styl'
@import '../../stylus/skeu.styl'

*
  box-sizing border-box

body
  background white
  text-align center

$h = 36px

.gray
  $gray_skeu_chain_r($h)
  border-right 1px solid #555
  &:hover
    $gray_skeu_chain_r_hover($h)
  &:active
    $gray_skeu_active($h)

.pink
  $pink_skeu_chain($h)
  border-right 1px solid #555
  &:hover
    $pink_skeu_chain_hover($h)
  &:active
    $pink_skeu_active($h)

.purple
  $purple_skeu_chain($h)
  border-right 1px solid #555
  &:hover
    $purple_skeu_chain_hover($h)
  &:active
    $purple_skeu_active($h)

.yellow
  $yellow_skeu_chain($h)
  border-right 1px solid #555
  &:hover
    $yellow_skeu_chain_hover($h)
  &:active
    $yellow_skeu_active($h)

.green
  $green_skeu_chain($h)
  border-right 1px solid #555
  &:hover
    $green_skeu_chain_hover($h)
  &:active
    $green_skeu_active($h)

.blue
  $blue_skeu_chain($h)
  border-right 1px solid #555
  &:hover
    $blue_skeu_chain_hover($h)
  &:active
    $blue_skeu_active($h)

.red
  $red_skeu_chain_l($h)
  &:hover
    $red_skeu_chain_l_hover($h)
  &:active
    $red_skeu_active($h)

.skeu
  display inline-block
  size auto $h
  font-size 16px
  line-height 16px
  font-weight 400
  padding 10px 10px
  margin 10px 0
  font-family "Helvetica Neue", sans-serif
