$texture_param = '../../images/pattern.png'
$skeu_prefix = 'purple'
@import '../import_theme/purple.styl'
@import '../../stylus/skeu.styl'

body
  bg_color()

.fig-01
  @extend $purple_skeu
  font-size 50px
  font-family 'League Script', cursive
  font-weight normal
  letter-spacing .1em
  text-align center
  padding 30px 50px
  box-sizing border-box
  display inline-block
  size auto auto
  margin 150px 0
  &:hover
    @extend $purple_skeu_hover
  &:active
    @extend $purple_skeu_active

.fig-02
  @extend $purple_skeu
  circle()
  font-size 150px
  line-height 150px
  font-family 'Copperplate'
  text-align center
  size 300px 300px
  box-sizing border-box
  padding 70px 0 0
  margin auto
  &:hover
    @extend $purple_skeu_hover
  &:active
    @extend $purple_skeu_active

.fig-03
  @extend $purple_skeu
  font-size 50px
  font-family 'Copperplate'
  letter-spacing .2em
  text-align center
  padding 100px 0
  box-sizing border-box
  display block
  size 60% 100%
  margin 150px auto
  &:hover
    @extend $purple_skeu_hover
  &:active
    @extend $purple_skeu_active
