$shadow_length = 0px
$active_depth  = 1px

@import '../_import_theme/pink.styl'
@import '../../stylus/skeu.styl'


#stylus-skeu-2-background
  size 100% auto
  margin 0
  padding 100px 0
  position relative
  text-align center
  overflow-x scroll
  bg_color()

#stylus-skeu-2-wrapper
  display inline-block
  size 100.5% auto
  padding 0
  margin auto
  position relative

.stylus-skeu-2-pink
  @extend $pink_skeu_chain
  color black
  &:hover
    @extend $pink_skeu_chain_hover
  &:active
    @extend $pink_skeu_active

.stylus-skeu-2-pink:nth-child(1)
  @extend $pink_skeu_chain_r
  color black
  &:hover
    @extend $pink_skeu_chain_r_hover
  &:active
    @extend $pink_skeu_active

.stylus-skeu-2-pink:nth-last-child(1)
  @extend $pink_skeu_chain_l
  color black
  &:hover
    @extend $pink_skeu_chain_l_hover
  &:active
    @extend $pink_skeu_active

.stylus-skeu-2-pink.stylus-skeu-2-skeu
  box-sizing border-box
  display inline-block
  size 80px auto
  font-size 20px
  line-height 20px
  padding 20px 0
  margin 0
  border-right 1px solid #555

.stylus-skeu-2-pink.stylus-skeu-2-skeu:nth-last-child(1)
  border-right none

#stylus-skeu-2-rec-input
  display none
  & + #stylus-skeu-2-rec
    color #c50
    &:active
      top 2px
  &:checked + #stylus-skeu-2-rec
    @extend $pink_skeu_active
    top 1px
    color #f50
  &:checked + #stylus-skeu-2-rec:active
    top 2px

#stylus-skeu-2-play-input
  display none
  & + #stylus-skeu-2-play
    color #58a
    &:active
      top 2px
  &:checked + #stylus-skeu-2-play
    @extend $pink_skeu_active
    top 1px
    color #0a9
  &:checked + #stylus-skeu-2-play:active
    top 2px
