$duration = 100ms
$texture = 'tl_stripe'
$texture_param = 9
$texture_opacity = .2

// body background color
$bg_color = #33aadd

// $vignette_noise: 0..1
$vignette_noise = .3

// $diffusion: 0..1
$diffusion = 0

// top_reflection
$top_blend = .18
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5
