@import '../../stylus/skeu.styl'
$params = json('../../stylus/themes/pink/theme.json', { hash: true })

$adjust = 100px
$adjust_touch = 20px
$adjust_top = $adjust / 4
$resolve_duration = 1500ms
$resolve_size = 80px

$vars = __vars($params.material, $params.normal)
$detail = __draw_detail($params.material, $params.normal)
$vignette = __vignette($params.material, $params.normal)
$reflection = __reflection($params.material, $params.normal)
$texture = __draw_texture($params.material, $params.normal)

base_color = $vars.base_color

bg_color = $params.material.bg_color
#stylus-skeu-2-resolve-bg
  display block
  position relative
  size 100% auto
  overflow-x scroll
  margin 0
  padding 100px 0
  background-color  bg_color
  text-align center
  #stylus-skeu-2-resolve-wrapper
    display inline-block
    position relative
    size 100.5% ($adjust_top * 4 + $resolve_size)
    margin 0 auto
    padding 0
    & > div
      display inline-block
      position relative
      border-radius 50%
      box-sizing border-box
      size $resolve_size $resolve_size
      margin 0 (-(@width / 2))
      vertical-align top
      top 0
      transition $resolve_duration top, $resolve_duration margin
    &:hover > div
      size $resolve_size $resolve_size
      margin 0 (-((@width - $adjust) / 2))
    html[data-device="touch"] &:hover > div
      size $resolve_size $resolve_size
      margin 0 (-((@width - $adjust_touch) / 2))
    #stylus-skeu-2-text
      z-index 500
      color #58a
      text-shadow __draw_text($vars)
      & > i
        color #58a
        font-size ($resolve_size / 3)
        line-height @font-size
        relative top @font-size
    &:hover #stylus-skeu-2-text
      top $adjust_top * 5
    #stylus-skeu-2-detail
      z-index 400
      { $detail }
    &:hover #stylus-skeu-2-detail
      top $adjust_top * 4
    #stylus-skeu-2-vignette
      z-index 300
      background convert($vignette)
    &:hover #stylus-skeu-2-vignette
      top $adjust_top * 3
    #stylus-skeu-2-reflection
      z-index 200
      background convert($reflection)
    &:hover #stylus-skeu-2-reflection
      top $adjust_top * 2
    #stylus-skeu-2-texture
      z-index 100
      background convert($texture)
    &:hover #stylus-skeu-2-texture
      top $adjust_top
    #stylus-skeu-2-basecolor
      z-index 0
      background base_color
