$duration ?= 100ms
$texture = 'tl_stripe_abs'
$texture_param = 2
$texture_opacity = .3

// outer background color
$bg_color = #edded4

// $vignette_effect: 0..1
$vignette_effect = .3

// $diffusion: 0..1
$diffusion = .1

// top_reflection
$top_blend = .25
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5

