$duration = 100ms
$texture = 'flare'
$texture_param = 5
$texture_opacity = .3

// outer background color
$bg_color = #edded4

// $vignette_noise: 0..1
$vignette_noise = .3

// $diffusion: 0..1
$diffusion = .1

// top_reflection
$top_blend = .25
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5

