$duration ?= 100ms
$texture = 'flare'
$texture_param = 5
$texture_opacity = .2

// body background color
$bg_color = desaturate(#33aaa0, 10)

// $vignette_noise: 0..1
$vignette_noise = .3

// $diffusion: 0..1
$diffusion = .1

// top_reflection
$top_blend = .18
$top_alpha = .8
$bottom_blend = .18
$bottom_alpha = .5
